# Virtual Environment
.venv/
venv/
env/

__pycache__/
*.pyc
*.pyo
*.pyd

.ipynb_checkpoints/

.vscode/

*.log

.env

*.db


*.pbix.autosave


build/
dist/
*.egg-info/

.DS_Store
Thumbs.db

data/raw/
data/interim/
data/processed/

config/secrets.py